@import "../../styles/partials/breakpoints";
@import "../../styles/partials/colors";

.productList {
  flex: 5;
  padding: 20px;

  .addButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: $clr-button-primary;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .product {
    display: flex;
    align-items: center;
    .img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  .edit {
    display: flex;
    font-weight: bold;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: $clr-button-secondary;
    cursor: pointer;
    margin-right: 10px;
    color: white;
    .icon {
      font-size: 18px !important;
      color: $clr-menu-item-text;
      margin-left: 2px;
    }
  }
  .delete {
    display: flex;
    font-weight: bold;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: $clr-button-danger;
    cursor: pointer;
    margin-right: 20px;
    color: white;
    .icon {
      font-size: 18px !important;
      color: $clr-menu-item-text;
      margin-left: 2px;
    }
  }
}
.rowStatus {
  padding: 2px 7px;
  height: 30px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.delivering {
  background-color: $clr-button-danger;
  color: $clr-menu-item-text;
}
.delivered {
  background-color: $clr-button-secondary;
  color: $clr-menu-item-text;
}
.pending {
  background-color: $clr-button-primary;
  color: $clr-menu-item-text;
}
