$clr-menu-background: hsl(209, 23%, 22%);
$clr-menu-item-background: hsl(207, 26%, 17%);
$clr-menu-item-text: hsl(0, 0%, 100%);
$clr-menu-item-subtext: hsl(0, 0%, 73%);
$clr-menu-accent: hsl(0, 79%, 73%);
$clr-menu-subaccent: hsl(0, 75%, 77%);

$clr-button-primary: hsl(200, 47%, 52%);
$clr-button-secondary: rgb(42, 131, 42);
$clr-button-danger: hsl(0, 100%, 69%);
