@import "../../styles/partials/breakpoints";
@import "../../styles/partials/colors";

.sidebar {
  height: calc(100vh - 50px);
  background-color: $clr-menu-background;
  padding-top: 50px;
  position: sticky;
  top: 40px;
  .active {
    background-color: $clr-menu-accent;
  }
  .wrapper {
    padding: 20px;
    color: $clr-menu-item-text;
    .menu {
      margin-bottom: 10px;
      .title {
        font-size: 13px;
        color: $clr-menu-item-subtext;
      }
      .list {
        list-style-type: none;
        padding: 10px;

        .link {
          text-decoration: none;
        }

        .listItem {
          padding: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 10px;
          font-size: 14px;
          color: $clr-menu-item-text;
          background-color: inherit;
          width: 150px;
          margin-bottom: 5px;
          transition: all 0.3s ease;

          @include breakpoint(laptop) {
            width: 30px;
          }

          .itemTitle {
            @include breakpoint(laptop) {
              display: none;
            }
          }

          &:hover {
            background-color: $clr-menu-subaccent;
          }
          .icon {
            margin-right: 5px;
            font-size: 20px !important;
            @include breakpoint(laptop) {
              font-size: 30px !important;
            }
          }
        }
      }
    }
  }
}
